.card {
  width: 200px;
  margin: 5px 0;
  border: 4px solid #00236D;
  border-radius: 50px;
  text-align: left;
  padding: 10px;
  background-color: #938288;
}

.nonFavIcon, .favIcon {
  border: none;
  height: 35px;
  width: 35px;
  position: absolute;
  margin-left: 165px;
}

.text-color {
  color: #00236D;
  font-weight: bold;
}

.nonFavIcon {
  background: url('images/death_star.svg') no-repeat;
}

.favIcon {
  background: url('images/death_star_clicked.svg') no-repeat;
}

.first-p-tag {
  padding-top: 30px;
}
